In [1]:
import pandas as pd

In [2]:
# Load Fake and True datasets
fake = pd.read_csv("Fake.csv")
true = pd.read_csv("True.csv")

In [10]:
# Set True News column to 0 
# Set Fake News column to 1
true["fake_news"] = 0 
fake["fake_news"] = 1

In [14]:
just_text = true["text"]
just_text.head()

0    WASHINGTON (Reuters) - The head of a conservat...
1    WASHINGTON (Reuters) - Transgender people will...
2    WASHINGTON (Reuters) - The special counsel inv...
3    WASHINGTON (Reuters) - Trump campaign adviser ...
4    SEATTLE/WASHINGTON (Reuters) - President Donal...
Name: text, dtype: object

In [15]:
just_text = just_text.str.extractall(r"^.* - (?P<text>.*)")

In [16]:
just_text = just_text.droplevel(1)
just_text.head()

                                                text
0  The head of a conservative Republican faction ...
1  have issued rulings blocking Trump’s ban while...
2  The special counsel investigation of links bet...
3  Trump campaign adviser George Papadopoulos tol...
4  President Donald Trump called on the U.S. Post...

In [17]:
true = true.assign(text = just_text["text"])

,title,text,subject,date,fake_news
0,"As U.S. budget fight looms, Republicans flip t...",The head of a conservative Republican faction ...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,have issued rulings blocking Trump’s ban while...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,The special counsel investigation of links bet...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,Trump campaign adviser George Papadopoulos tol...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,President Donald Trump called on the U.S. Post...,politicsNews,"December 29, 2017",0

In [18]:
# Combine Fake and True datasets
df = pd.concat([fake, true], axis = 0)

In [19]:
# Drop date, title, and subject column
df = df.drop(["subject", "date", "title"], axis = 1)

In [20]:
# Drop N/A cells 
df = df.dropna(axis = 0)

In [ ]:
# Export Cleaned News Dataset
clean_text = df.to_csv("cleaned_news.csv", index = False)